/* #countdown {
    color: rgb(83, 133, 183);
    padding: 10px;
} */
/* #cards{
    display: none;
} */

/* #loader2 {
    position: fixed;
    top: 50%;
    left: 50%; 
    transform: translate(-50%,-50%);
} */